<div class="container">
<div class="row">
    <div class="col-xs-12">
      <h2>Les enseignants</h2>
      <div class="list-group">
        <button
          class="list-group-item"
          *ngFor="let teacher of teachers; let i = index"
          (click)="onViewTeacher(i)">
          <h3 class="list-group-item-heading">
            {{ teacher.id }}   {{ teacher.firstname }}
            <button class="btn btn-default pull-right" (click)="onDeleteTeacher(teacher)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </h3>
          <p class="list-group-item-text">{{ teacher.lastname }}</p>
        </button>
      </div>
      <button class="btn btn-primary" (click)="onNewTeacher()">Nouveau Enseignant</button>
    </div>
  </div>
</div>