<div class="container">
  <div class="row">
    <app-photo [user]="teacher"></app-photo>
    <div class="col-sm-8">
      <h2>Update Teacher</h2>
      <form [formGroup]="teacherForm" (ngSubmit)="onUpdateTeacher()">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" class="form-control" formControlName="firstname">
         <!-- <div *ngIf="teacherForm.controls.firstName.errors?.required && teacherForm.controls.firstName.touched" class="error">
              *Required
            </div>-->
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" class="form-control" formControlName="lastname">
          <!--<div *ngIf="teacherForm.controls.lastName.errors?.required && teacherForm.controls.lastName.touched" class="error">
              *Required
            </div>-->
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email">
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select type="text" id="gender" class="form-control" formControlName="gender">
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
          </select>
        </div>          

        <div class="form-group">
          <label for="birth">Birthdate</label>
          <input type="date" id="birth" class="form-control" formControlName="birthDate">
        </div>

        <div class="form-group">
          <label for="salary">Salary</label>
          <input type="number" id="salary" class="form-control" formControlName="salary">
        </div>

        <div class="form-group">
          <label for="echelon">echelon</label>
          <textarea id="echelon" class="form-control" formControlName="echelon">
          </textarea>
        </div>
        <button class="btn btn-success"   type="submit">Update
        </button>
      </form>
    </div>
  </div>
</div>